{% load static %}
<link rel = "stylesheet" href = "{% static 'css/universal.css' %}">

<!DOCTYPE html>
<html>
    <body>
        <a id = "back" href = "{% url 'frontpage' %}">
            Back to frontpage
        </a>
        <h1>Log in</h1>
        <form id = "form" method = "post" action = "{% url 'users:login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
        </form>
        <a href = "{% url 'users:signup' %}">Don't have an account?</a>
    </body>
</html>