{% load static %}
<link rel = "stylesheet" href = "{% static 'css/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'css/profile.css' %}">

<!DOCTYPE html>
<html>
    <body>
        <!-- Header block -->
        {% include 'header.html' %}

        <div id = "profile">
            <h1>{{profile.get_username}}</h1>
            <p>Total likes: {{likes}}</p>
            {% if profile == user %}
                <a href = "{% url 'articles:create' %}">
                    <button>Create article</button>
                </a>
            {% endif %}
        </div>


        <h1>Articles</h1>
        <div id = "articles">
            {% include 'posts.html' with posts=profile.article_set.all %}
        </div>


        <!-- Footer block -->
        {% include 'footer.html' %}
    </body>
</html>