html, body{
    margin: 0em;
    padding: 0em;
}
body{
    width: 100%;
    gap: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 100%;
    display: grid;
    grid-template-areas:
    "l t r";
    justify-content: space-around;
    align-items: center;

}
header > #user{
    grid-area: r;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
}
footer{
    width: 100%;
    color: white;
    background: black;
    min-height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.article{
    height: max-content;
    width: 30em;
    display: inline-block;
}
.carousel{
    width: 90%;
    overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
    justify-content: center;
}