body{
    overflow-x: hidden;
}
body > h1{
    margin-block-end: 0em;
    margin-block-start: 0em;
}
.carousel{
    height: max-content;
    width: 70%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    gap: 2em;
}
#welcome{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile{
    cursor: pointer;
    position: fixed;
    right: 2em;
    top: 2em;
    height: 4em;
    width: 4em;
    border-radius: 2em;
}