<header>
    {% if request.path != "/" %}
        {% include 'back.html' %}
    {% endif %}

    <h1><a href = "{% url 'frontpage' %}">Articles</a></h1>

    <div id = "user">
        {% if not user.is_authenticated %}
            <a href = "{% url 'users:signup' %}"> Sign up</a>
        {% else %}
            <a href = "{% url 'users:logout' %}">Log out</a>
        {% endif %}
        
        {% if user.is_authenticated %}        
            <a href = "{% url 'users:profile' user.id %}">{{user.get_username}}</a>
        {% else %}
            <a href = "{% url 'users:login' %}">Log in</a>
        {% endif %}
    </div>

</header>