{% load static %}
<link rel = "stylesheet" href = "{% static 'css/universal.css' %}">

<!DOCTYPE html>
<html>
    <body>
        {% include 'header.html' %}
        <div id = "header">
            <h1>{{article.title}}</h1>
            <div>
                <p>Author: <a href="{% url 'users:profile' article.author.id %}">{{article.author.username}}</a></p> 
                <p>Posted on {{ article.published|date:'d F Y' }}</p>
            </div>
            {% if request.user == article.author %}
                <div>
                    {% include 'edit.html' %}
                    {% include 'delete.html' %}
                </div>
            {% endif %}
            <div>
                <p>Likes: {{article.countLikes}}</p>
                {% include 'like.html'%}
            </div>
        </div>
        
        <div id = "article">
            {{content|safe}}
        </div>
        
        <!-- Footer block -->
        {% include 'footer.html' %}
    </body>
</html>