{% load static %}
<link rel = "stylesheet" href = "{% static 'css/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'css/article.css' %}">

<!DOCTYPE html>
<html>
    <body>
        <a id = "back" href = "{% url 'frontpage' %}"> Back to frontpage </a>
        <header>
            <h1></h1>
            <a href="">
                <p>Author: </p> 
                <!-- <p>Posted on {{ article.published|date:'d F Y' }}</p> -->
            </a>
        </header>
        <div id = "article">
            <!-- article inner html -->
        </div>
        <!-- Footer block -->
        {% include 'footer.html' %}
    </body>
    <script src="{% static 'js/htmx.min.js'%}"></script>
</html>