{% load static %}
<link rel = "stylesheet" href = "{% static 'css/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'css/editor.css' %}">


<!DOCTYPE html>
<html>
    <body>
        <header>
            {% include 'back.html' %}
            <input id = "title" value = "{{article.title}}"></input>
            <div id = "savebar">
                <div>
                    {% if article.published %}
                        <input type = "checkbox" id = "published" checked>
                    {% else %}
                        <input type = "checkbox" id = "published">
                    {% endif %}
                    <label for = "published">Published</label>
                </div>
                <button onclick = "sendPacket('{% url 'articles:edit' article.id %}')">Save</button>
            </div>
        </header>
        <div id = "content">
            {{content|safe}}
        </div>
        <div id = "navbar">
            <button onclick = "titleSpawn();">Add title</button>
            <button onclick = "paragrapghSpawn();">Add paragraph</button>
        </div>        
    </body>
    <script src = "{% static 'js/editor.js' %}"></script>
</html>