{% load static %}
<link rel = "stylesheet" href = "{% static 'css/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'css/frontpage.css' %}">

<!DOCTYPE html>
<html>
    <body>
        <!-- Header block -->
        {% include 'header.html'%}
        
        <!-- Carousels -->
        <div id = "carousels">
            <h1>Trending</h1>
            <div class = "carousel" id = "trending">
                {% include 'posts.html' with articles=trending %}
            </div>
            
            <h1>Most liked this week</h1>
            <div class = "carousel" id = "liked">
                {% include 'posts.html' with articles=mostliked %}
            </div>
        </div>

        <!-- Footer block -->
        {% include 'footer.html' %}
    </body>
</html>