{% load static %}
<link rel = "stylesheet" href = "{% static 'css/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'css/frontpage.css' %}">

<!DOCTYPE html>
<html>
    <body>
        <!-- Header block -->
        {% include 'header.html'%}

        <h1>Trending</h1>
        <div class = "carousel" id = "trending">
            {% include 'posts.html' with posts=trending only %}
        </div>

        <h1>Most liked this week</h1>
        <div class = "carousel" id = "liked">
            {% include 'posts.html' with posts=liked only %}
        </div>

        <!-- Footer block -->
        {% include 'footer.html' %}
    </body>
</html>